---
import Picture from '~/components/core/Picture.astro';
---

<div class="relative mt-8 mb-8 m-auto max-w-6xl">
	<div class="swiper mySwiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<Picture
					src={import('~/assets/images/hero.jpg')}
					class="mx-auto rounded-md shadow-lg bg-gray-400 dark:bg-slate-700 w-full"
					widths={[400, 768]}
					sizes="(max-width: 767px) 400px, 768px"
					alt="Hero Image"
					aspectRatio="16:9"
					loading="eager"
				/>
			</div>
			<div class="swiper-slide">
				<Picture
					src={import('~/assets/images/steps.jpg')}
					class="mx-auto rounded-md shadow-lg bg-gray-400 dark:bg-slate-700 w-full"
					widths={[400, 768]}
					sizes="(max-width: 767px) 400px, 768px"
					alt="Hero Image"
					aspectRatio="16:9"
					loading="eager"
				/>
			</div>
			<div class="swiper-slide">
				<Picture
					src={import('~/assets/images/tools.jpg')}
					class="mx-auto rounded-md shadow-lg bg-gray-400 dark:bg-slate-700 w-full"
					widths={[400, 768]}
					sizes="(max-width: 767px) 400px, 768px"
					alt="Hero Image"
					aspectRatio="16:9"
					loading="eager"
				/>
			</div>
		</div>
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
		<div class="swiper-pagination"></div>
	</div>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
<script is:inline src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script>
	var swiper = new Swiper('.mySwiper', {
		loop: true,
		spaceBetween: 30,
		centeredSlides: true,
		autoplay: {
			delay: 2500,
			disableOnInteraction: false,
		},
		pagination: {
			el: '.swiper-pagination',
			clickable: true,
		},
		navigation: {
			nextEl: '.swiper-button-next',
			prevEl: '.swiper-button-prev',
		},
	});
	swiper.$el.on('mouseover', () => {
		swiper.autoplay.stop();
	});

	swiper.$el.on('mouseleave', () => {
		swiper.autoplay.start();
	});
</script>
