---
import { SITE } from '~/config.mjs';
import { getCanonical, getHomePermalink } from '~/utils/permalinks';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Features3 from '~/components/widgets/Features3.astro';
import HighlightedPosts from '~/components/blog/HighlightedPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Swiper from '~/components/widgets/Swiper.astro';

const meta = {
	title: SITE.title,
	description: SITE.description,
	canonical: getCanonical(getHomePermalink()),
};
---

<Layout {meta}>
	<p id="top"></p><hr /><hr /><hr /><hr />
	<Swiper />
	<Hero />
	<p>Works</p><hr /><hr /><hr /><hr />
	<HighlightedPosts />
	<hr /><hr /><hr /><hr />
	<a
		id="roots"
		class="font-black hover:text-gray-900 dark:hover:text-white text-right transition duration-150 ease-in-out"
		href={getHomePermalink() + '#top'}
	>
		Roots
	</a>
	<Steps />
	<span></span><hr /><hr /><hr /><hr />
	<hr /><hr /><hr /><hr />
	<a
		id="elements"
		class="font-black hover:text-gray-900 dark:hover:text-white text-right transition duration-150 ease-in-out"
		href={getHomePermalink() + '#top'}
	>
		Elements
	</a>
	<Features />
	<span></span><hr /><hr /><hr /><hr />
	<hr /><hr /><hr /><hr />
	<a
		id="space"
		class="font-black hover:text-gray-900 dark:hover:text-white text-right transition duration-150 ease-in-out"
		href={getHomePermalink() + '#top'}
	>
		Space
	</a>
	<Features2 />
	<hr /><hr /><hr /><hr />
	<a
		id="coordinates"
		class="font-black hover:text-gray-900 dark:hover:text-white text-right transition duration-150 ease-in-out"
		href={getHomePermalink() + '#top'}
	>
		Coordinates
	</a>
	<Features3 />
	<span>Questions</span><hr /><hr /><hr /><hr />
	<FAQs />
	<span>Statistics</span><hr /><hr /><hr /><hr />
	<Stats />
	<span>Action</span><hr /><hr /><hr /><hr />
	<CallToAction />
</Layout>
